# ==========================================
# SAFECITY FRONTEND - DESARROLLO
# ==========================================

VITE_API_URL=http://localhost:8000/api/v1
VITE_MAPBOX_TOKEN=
VITE_ENABLE_OFFLINE_DATA=false
